* {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: #450920;
}



nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffa5ab;
  padding: 1em;
 
}

h1 {
  font-size: 1.8em;
}

h2{
  font-size: 1.3em;
}

img {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: space-between;
  
}

.desarrollo {
  padding: 1.5em;
  background-color: #f9dbbd;
  font-size: 1rem;
}

.desarrollo p{
  text-align: justify;
}

aside {
  background-color: #da627d;
  padding: 1.5em;
}

footer {
  background-color: #a53860;
  display: flex;
  justify-content: right;
  padding: 0.8em;
}

h3 {
  text-align: center;
  
}

aside .perfil {
  display: block;
  margin: 0 auto;
  max-width: 8em;
  border-radius: 10%;
  box-shadow: 3px 3px 3px #450920;
  position: relative;
  margin-bottom: 1em;
}

.lugarYFecha {
  display: flex;
  justify-content: space-between;
}

hr {
  border: none;
  border-top: 1px solid;
  margin: 2em;
}

li{
  list-style: none;
  margin-block: 0.5em;

}

ul.titulo li a{
  font-size: 0.8em;
}
ul.titulo li a:hover {
  color: white;
 transition: color 0.3s ease;

}

aside a {
  text-decoration: none; 
  transition: color 0.3s ease; 
}

aside a:hover {
   color: white;
}

aside div li{
  font-size: 0.8em;
  margin-left: 0;
  line-height: 1;
  
}
/*Media Querys*/

/*para que sea A4 en pantallas medianas a grandes*/
@media screen and (min-width: 1024px) {

body {
  display: flex;
  justify-content: center;
  background:#f4f3f3;
}

.pagina {
  width: 794px;   
  height: 1123px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1em; 
  box-sizing: border-box;
}
}



@media (max-width: 768px) {
  /* Pantallas S */
  * {
    flex-direction: column;
  }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
aside div li{
  font-size: 1.3em;
}

h1{
  font-size: 2.2em;
}
h2{
  font-size: 1.8em;
}

}
